# Arquivos e diretórios específicos do Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
*.g.dart
*.freezed.dart

# Arquivos específicos do Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# Arquivos específicos do iOS/XCode
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Arquivos específicos do macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/Flutter-Profile.xcconfig

# Arquivos de diretório da web
**/web/favicon.png

# Arquivos de cobertura
coverage/
*.lcov
.test_coverage.dart

# Arquivos de geração de símbolos 
app.*.symbols

# Arquivos de compilação obfuscada
app.*.map.json

# Exceções ao regras acima
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

# Diretórios específicos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Arquivos gerados pelo fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Arquivos de ambiente local
.env
.env.*
!.env.sample
*.env.local

# Arquivos de keystore
**/*.keystore
**/*.jks
**/*.p8
**/*.p12
key.properties

# Dependências específicas do projeto (personalize conforme necessário)
/node_modules/

# Log files
*.log 